# **Pandas**

# What is Pandas?

*   A Python library for data manipulation and analysis
*   Works with structured data like tables (Excel, CSV, SQL)
*   built on Numpy


# Why Pandas?
* Easy: Like working with Excel
* Fast: Handles large datasets efficiently
* Powerful: Data cleaning, transformation, analysis, visualization

In [ ]:
#import library
import pandas as pd

# Pandas data structures : **Series**
* A Series is like a column of a table.
* labeled data
* Created from a list, dictionary, or array.

example: "A Pandas Series is like a local shopkeeper’s daily record of sales, where he writes the number of icecream sold each day!"

In [ ]:
import numpy as np
n=np.array([10,20,30,40,50])
print(n)

[10 20 30 40 50]

In [ ]:
s=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
IceCream_sales = pd.Series([50, 65, 70, 85, 90, 120, 150],
                        index=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])
print(IceCream_sales)

Monday        50
Tuesday       65
Wednesday     70
Thursday      85
Friday        90
Saturday     120
Sunday       150
dtype: int64

In [ ]:
# Create a series with dictionary
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
series = pd.Series(data)

print(series)

a    10
b    20
c    30
d    40
dtype: int64

# Pandas data structures : DataFrame
* A DataFrame is like an entire Excel sheet or a table in SQL.
* Created from dictionaries, lists, or CSV files.
* rows have indices
* columns have column name

example: "A Pandas DataFrame is like a restaurant’s menu, where each row is a dish and columns represent price and quantity sold."

In [ ]:
data = {
    "Food_Item": ["Litti Chokha", "Samosa", "Jalebi", "kachori"],
    "Price (₹)": [30, 10, 20, 25],
    "Sold_Quantity": [100, 200, 150, 120]
}
df = pd.DataFrame(data,index=(1,2,3,4))
print(df)
df.to_csv("store.csv")

      Food_Item  Price (₹)  Sold_Quantity
1  Litti Chokha         30            100
2        Samosa         10            200
3        Jalebi         20            150
4       kachori         25            120

In [ ]:
df.iloc[2]

Food_Item        Jalebi
Price (₹)            20
Sold_Quantity       150
Name: 3, dtype: object