#### We'll cover
Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples


- A tuple is an ordered, immutable collection of elements in Python.
- Defined using parentheses () instead of square brackets [] (used in lists).
- Key properties of tuples:
  - Ordered (Elements maintain the sequence)
  - Immutable (Cannot be modified after creation)
  - Can contain duplicates

Creating Tuples

In [1]:
# Empty Tuple
empty_tuple = ()
print(empty_tuple)  # Output: ()

()

In [3]:
# Tuple with Elements
numbers = (1, 2, 3, 4, 5)
fruits = ("apple", "banana", "cherry")
mixed = (10, "hello", 3.14, True)
print(numbers)
print(fruits) 
print(mixed)

(1, 2, 3, 4, 5)
('apple', 'banana', 'cherry')
(10, 'hello', 3.14, True)

In [6]:
# Tuple with One Element (Comma is Important!)
single_element = (5,)  # Correct
not_a_tuple = (5)  # Wrong, this is just an integer
print(type(single_element))
print(type(not_a_tuple))

<class 'tuple'>
<class 'int'>

In [5]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

Accessing Elements in a Tuple
- Indexing (positive & negative)
- Slicing

In [7]:
## Accessing Tuple Elements

numbers=(1,2,3,4,5)

In [8]:
print(numbers[2])
print(numbers[-1])

3
5

In [9]:
numbers[0:4]

(1, 2, 3, 4)

In [10]:
numbers[::-1]

(5, 4, 3, 2, 1)

Tuple Operations

 1. Concatenation (+ Operator)

In [11]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = t1 + t2
print(result)

(1, 2, 3, 4, 5, 6)

2. Repetition (* Operator)

In [12]:
t = (10, 20)
print(t * 3)

(10, 20, 10, 20, 10, 20)

3. Membership Check (in Operator)

In [13]:
fruits = ("apple", "banana", "cherry")
print("banana" in fruits)  
print("grape" in fruits)

True
False

### Immutable Nature Of Tuples
Tuples are immutable, meaning their elements cannot be changed once assigned.

In [14]:

lst=[1,2,3,4,5]
print(lst)

lst[1]="hello"
print(lst)

[1, 2, 3, 4, 5]
[1, 'hello', 3, 4, 5]

In [15]:
numbers[1]="hello"

TypeError: 'tuple' object does not support item assignment

In [16]:
numbers

(1, 2, 3, 4, 5)

# Tuple Methods

1Ô∏è‚É£ count() ‚Äì Counts occurrences of an element

In [17]:
numbers = (1, 2, 3, 4, 2, 2, 5)
print(numbers.count(2))

3

2Ô∏è‚É£ index() ‚Äì Finds the first index of an element

In [18]:
fruits = ("apple", "banana", "cherry", "apple")
print(fruits.index("apple"))

0

## Packing and Unpacking tuple

In [ ]:

## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [5]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

nested tuple

In [19]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

iterating over nested tuples

In [ ]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

Converting list and tuples

In [20]:
# tuple to list
t = (10, 20, 30)
lst = list(t)
lst.append(40)
print(lst)

[10, 20, 30, 40]

In [22]:
# list to tuple
lst = [1, 2, 3]
t = tuple(lst)
print(t)

(1, 2, 3)

## conclusion

Tuples are immutable, ordered collections in Python, making them ideal for storing fixed data that should not be changed. They are faster and more memory-efficient than lists, supporting indexing, slicing, and various operations. Tuples can store heterogeneous data, including nested tuples, and can be used as dictionary keys. They are commonly used for function returns, database records, and structured data storage. While they lack mutability, their efficiency and reliability make them a powerful tool in Python programming.

# üìù Python Tuples - Practice Set (Basic to Advanced)

üìå Question 1: Creating and Accessing Tuples
1. Create a tuple named `fruits` with the values: apple", "banana", "cherry", "mango".
2. Print the second element of the tuple.
3. Print the last element using negative indexing.
4. Print a subtuple containing only "banana" and cherry".

üìå Question 2: Tuple Operations
1. Create two tuples: `t1 = (1, 2, 3)` and `t2 = 4, 5, 6)`.
2. Concatenate `t1` and `t2` into a new tuple `t3`.
3. Repeat `t1` three times and store it in `t4`.
4. Print both `t3` and `t4`.

üìå Question 3: Tuple Methods
1. Create a tuple `numbers = (5, 10, 15, 20, 10, 5, 10, 30)`.
2. Find how many times `10` appears in the tuple.
3. Find the index of the first occurrence of `15`.

üìå Question 4: Converting Between Lists and Tuples
1. Convert the tuple `fruits = ("apple", "banana", cherry")` into a list.
2. Add "grape" to the list.
3. Convert the list back into a tuple.
4. Print the final tuple.

üìå Question 5: Nested Tuples and Tuple Unpacking
1. Create a nested tuple `nested = ((1, 2, 3), "a", "b", "c"), (True, False))`.
2. Print the element `"b"` from the second inner uple.
3. Print `False` from the third inner tuple.
4. Unpack the following tuple and print each value eparately:
    person = ("Amit", 22, "Data Scientist")